<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lịch sử đặt vé</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/booking.css">
    <th:block th:replace="~{/common/layout :: head}"></th:block>

</head>
<body>
<div th:replace="common/layout.html :: nav"></div>

<div class="container main-container">
    <div class="card w-75 mx-auto mt-5">
        <div class="header-null text-center" th:if="${booking == null}">
            <h1>Mã vé <span th:text="${booked}"></span> không tồn tại!</h1>
        </div>
        <div th:if="${!(booking == null)}">
            <div class="card-header text-center">
                <h2 class="mt-3">Mã vé: <span th:text="${booking.codeBooking}"></span></h2>
            </div>
            <div class="card-body">
                <div class="row mt-3">
                    <div class="ticket-details col-6 d-flex justify-content-center">
                        <i class="fas fa-train ticket-icon fs-2 d-flex alert"></i>
                        <h5 class="d-flex alert"><span class="me-2">Điểm đi:</span><span
                                th:text="${booking.getFlight().getDepartureAirport().getCity()}"></span></h5>
                    </div>
                    <div class="ticket-details col-6 d-flex justify-content-center">
                        <i class="fa-solid fa-train ticket-icon fs-2 d-flex alert"></i>
                        <h5 class="d-flex alert"><span class="me-2">Điểm đến:</span><span
                                th:text="${booking.flight.getArrivalAirport().getCity()}"></span></h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-center">
                        <p>Thời gian: <span
                                th:text="${#temporals.format(booking.flight.departureTime, 'HH:mm')}"></span>
                            - Ngày: <span
                                    th:text="${#temporals.format(booking.flight.departureTime, 'dd-MM-yyyy')}"></span>
                        </p>
                    </div>
                    <div class="col-6 text-center">
                        <p>Thời gian: <span
                                th:text="${#temporals.format(booking.flight.arrivalTime, 'HH:mm')}"></span>
                            - Ngày: <span
                                    th:text="${#temporals.format(booking.flight.arrivalTime, 'dd-MM-yyyy')}"></span>
                        </p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-6 ticket-details text-center py-4">
                        <h3>Ghế : <span th:text="${booking.numberOfSeats}"></span></h3>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-6 ticket-status fs-4 text-center mt-4">
                        <p>Tổng tiền:</p>
                        <p th:text="${#numbers.formatDecimal(booking.totalPrice, 0, 'COMMA', 0, 'POINT')} + '₫'"></p>
                    </div>
                    <div class="col-6 text-center">
                        <img class="w-50" src="/images/paid-green.png" alt="paid">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="common/layout.html :: footer"></div>
</body>
</html>